DISCORD_TOKEN=
DISCORD_GUILD_ID=
VOICE_CHANNEL_ID=
TEXT_CHANNEL_ID=
FIRST_ENTRY_ALERT_ROLE_ID=1469775960021664022

# true: notifica entradas; false: desativa
NOTIFY_ENTRIES=true

# true: notifica saídas; false: desativa
NOTIFY_EXITS=true

# Toca o áudio quando uma pessoa entra no canal monitorado
ENTRY_AUDIO_ENABLED=true
ENTRY_AUDIO_FILE=assets/entry-trumpet.mp3
ENTRY_AUDIO_DURATION_MS=7000

# Presença exibida enquanto o bot estiver online
BOT_PRESENCE_NAME=FREE-USANDO TATA
BOT_PRESENCE_STATE=TATA

# Usado apenas pelo comando: npm run set-avatar
BOT_AVATAR_FILE=assets/gau.png
